.business {
  margin: 0 0 100px;

  &__title {
    color: $grey;
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 100%;
    margin: 0 0 30px;
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__card {
    margin: 22px auto 0;

    &-bg {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 615px;
      height: 260px;
      overflow: hidden;
      background-position: center;
      background-size: contain;

      &.decisions {
        background-image: url('../../assets/img/business-img1.png');
      }

      &.cybersecurity {
        background-image: url('../../assets/img/business-img2.png');
      }

      &.import-substitution {
        background-image: url('../../assets/img/business-img3.png');
      }

      &.cloud-solutions {
        background-image: url('../../assets/img/business-img4.png');
      }

      &.development {
        background-image: url('../../assets/img/business-img5.png');
      }

      &.technical-support {
        background-image: url('../../assets/img/business-img6.png');
      }
    }

    &-container {
      position: absolute;
      height: 260px;
      top: 180px;
      left: 0;
      right: 0;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      background: rgba(45, 54, 83, 0.6);
      cursor: pointer;
      transition: all ease-in 0.35s;

      &:hover {
        top: 0;
      }
    }

    &-title {
      display: flex;
      color: $white;
      font-size: 24px;
      font-weight: 600;
      line-height: 100%;
      max-width: 356px;
      margin: 28px 0 20px;
    }

    &-description {
      margin: 20px 0 0;
      color: $white;
      font-size: 17px;
      font-weight: 400;
      line-height: 140%;
      max-width: 480px;
    }
  }
}

 .development .business__card-title {
  margin: 18px 0 20px;
}


