.heading {
  &__bg {
    background-image: url('../../assets/img/background.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 160px 0 0 70px;
  }

  &__title {
    color: $grey;
    font-size: 56px;
    font-weight: 600;
    max-width: 700px;
    margin: 0 0 74px;
  }

  &__button {
    padding: 18px 28px;
    background-color: $dark_red;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    transition: all ease 0.8s;
      &:hover {
      background-color: $pink;
    }
  }
}

@media screen and (max-width: 1200px) {
  .heading {
    &__title {
      font-size: 48px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 900px) {
  .heading {
    &__title {
      font-size: 36px;
      font-weight: 600;
      line-height: 100%;
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 700px) {
  .heading {
    &__bg {
      padding: 100px 0 0 50px;
      height: 500px;
    }
  }
}

@media screen and (max-width: 600px) {
  .heading {
    &__bg {
      padding: 80px 0 0 30px;
      height: 400px;
    }
    &__title {
      font-size: 28px;
      line-height: 100%;
      max-width: 400px;
      margin: 0 0 22px;
    }
    &__button {
      padding: 6px 32px;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
    }
  }
}

@media screen and (max-width: 400px) {
  .heading {
    &__bg {
      padding: 40px 5px 0;
      height: 300px;
    }
    &__title {
      max-width: 280px;
    }
  }
}


