.header {
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $border;
  &__icon {
    background-image: url("../../assets/svg/logo.svg");
    width: 125px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 16px 40px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    &__icon {
      margin: 0 0 16px;
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 16px 5px 10px;
  }
}



