.mission {
  margin: 10px 0 100px;
  &__bg {
    position: relative;
    background-color: $red;
    padding: 140px 70px;
    overflow: hidden;
  }

  &__title {
    z-index: 2;
    position: relative;
    color: $white;
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 100%;
    margin: 0 0 45px;
  }

  &__description {
    z-index: 2;
    position: relative;
    color: $white;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
  }
  &__pattern {
    z-index: 1;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 348px;
    height: 377px;
    &.left {
      top: 50px;
      left: -23px;
      background-image: url('../../assets/img/pattern-left.png');
    }
    &.right {
      top: 50px;
      right: -25px;
      background-image: url('../../assets/img/pattern-right.png');
    }
  }
}

@media screen and (max-width: 900px) {
  .mission {
    margin: 10px 0 20px;
    &__bg {
      padding: 51px 5px 32px;
    }

    &__title {
      font-size: 28px;
      font-weight: 600;
      margin: 0 0 10px;
    }

    &__description {
      font-size: 16px;
      line-height: 130%;
      max-width: 280px;
      margin: 0 auto;
    }
    &__pattern {
      width: 143px;
      height: 155px;
      &.left {
        top: 30px;
        left: -10px;
      }
      &.right {
        top: 30px;
        right: -10px;
      }
    }
  }
}
