.nav {
  padding: 32px 0;

  &-items {
    display: flex;
    align-items: center;
  }

  &-item {
    color: $grey;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 0 22px;
    cursor: pointer;
    transition: all ease 0.8s;

    &:hover {
      color: $red;
    }
  }
}

.map .nav {
  padding: 32px 0 0;
  transition: all ease-in 0.35s;
  &.inactive {
    opacity: 0.3;
    pointer-events: none;
  }
}

.map .nav-item {
  margin: 0 0 0 32px;
  padding: 0 0 29px;
  border-bottom: 3px solid $white;
  background-color: transparent;
  transition: none;
  &.active {
    border-bottom: 3px solid $red;
    color: $red;
    pointer-events: none;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    padding: 0;
    &-item {
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 0 16px;
    }
  }
  .map .nav-item {
    margin: 0 0 0 16px;
  }
}

@media screen and (max-width: 900px) {
  .map .nav-item {
    margin: 0 16px 0 0;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      margin: 0 10px 5px 0;
    }
  }
  .map .nav {
    padding: 20px 0 0;
    &-items {
      flex-wrap: nowrap;
    }
  }
}
